mujoco-py==2.0.2.13
# dm_control @ git+git://github.com/deepmind/dm_control@main#egg=dm_contro
absl-py==0.10.0
dm-acme==0.1.8
dm-env==1.2
dm-reverb==0.1.0
dm-sonnet
dm-tree==0.1.5
gym==0.17.2
tensorflow==2.3.0
d4rl @ git+git://github.com/HyberionBrew/D4RL@old-state
jax==0.2.11
jaxlib==0.1.71
